<div class="explore_container">
    <div class="explore_bg_img" style="background-image: url('../images/{{loc_filename}}.png');"></div>

    <div class="explore_text_container">
      <div class="explore_map_title">
          {{loc_title}}
      </div>
      <div class="explore_possible_loot">
          {{loc_loot}}
      </div>
    </div>

    <div class="explore_bottom">

      <div class="explore_info_container">
        <div class="exploredesc">
          {{loc_desc}}
        </div>

        <div class="exploreopt">
          <div class="buttonopt">
            <input type="button" class="explorebutton" onclick="taskAlert()" id="soloexplore" value="SOLO">
            <input type="button" class="explorebutton" onclick="taskAlert()" id="teamexplore" value="CO-OP (Forum)">
          </div>
        </div>
      </div>
    <hr>
      <div class="explorefooter">
        <div class="slidecontainer">
          <input type="range" min="1" max="100" value="1" class="slider" id="durationrange1">
          <p class="outcome" id="outcome1">15m ⇌ x1.0 exp/loot multiplier</p>
        </div>
      </div>
    </div>
  </div>