<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/login.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/js/login.js"></script>
  <script>
        $(document).ready(function () {
          $( "#prof0" ).click(function() {
            console.log("prof0 selected");
            modal.style.display = "none";
            $('#profpicreg').attr('src', "images/avatar/0.png");
            $("#img_index").val("0");
          });
          $( "#prof1" ).click(function() {
            console.log("prof1 selected");
            modal.style.display = "none";
            $('#profpicreg').attr('src', "images/avatar/1.png");
            $("#img_index").val("1");
          });
          $( "#prof2" ).click(function() {
            console.log("prof2 selected");
            modal.style.display = "none";
            $('#profpicreg').attr('src', "images/avatar/2.png");
            $("#img_index").val("2");
          });
          $( "#prof3" ).click(function() {
            console.log("prof3 selected");
            modal.style.display = "none";
            $('#profpicreg').attr('src', "images/avatar/3.png");
            $("#img_index").val("3");
          });
          $( "#prof4" ).click(function() {
            console.log("prof4 selected");
            modal.style.display = "none";
            $('#profpicreg').attr('src', "images/avatar/4.png");
            $("#img_index").val("4");
          });

          // Get the modal
          var modal = document.getElementById("myModal");

          // Get the button that opens the modal
          var btn = document.getElementById("myBtn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks on the button, open the modal
          btn.onclick = function() {
            modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          } 
        /*
            attach the event `keyup` to the html element where id = `idNum`
            this html element is an `<input>` element
            this event activates when the user releases a key on the keyboard
        */
        
        $('#username').keyup(function () {

            // get the value entered the user in the `<input>` element

              var username = $('#username').val();

            /*
                send an HTTP GET request using JQuery AJAX
                the first parameter is the path in our server
                which is defined in `../../routes/routes.js`
                the server will execute the function getCheckID()
                defined in `../../controllers/signupController.js`
                the second parameter passes the variable `idNum`
                as the value of the field `idNum`
                to the server
                the last parameter executes a callback function
                when the server sent a response
            */
            $.get('/getCheckUsername', {username: username}, function (result) {
                if(result.username == username) {
                  $('#username').css('background-color', '#9CD9BF');
                  $('#error').html('&nbsp');
                  $('#submit').prop('disabled', false);
                }

                else {
                  $('#username').css('background-color', '#FF6A55');
                  $('#error').text('Invalid Username');
                }
            });
        });
        $('#usernamereg').keyup(function () {

            // get the value entered the user in the `<input>` element

              var username = $('#usernamereg').val();

            /*
                send an HTTP GET request using JQuery AJAX
                the first parameter is the path in our server
                which is defined in `../../routes/routes.js`
                the server will execute the function getCheckID()
                defined in `../../controllers/signupController.js`
                the second parameter passes the variable `idNum`
                as the value of the field `idNum`
                to the server
                the last parameter executes a callback function
                when the server sent a response
            */
            $.get('/getCheckUsername', {username: username}, function (result) {
                if(result.username == username) {
                  $('#usernamereg').css('background-color', '#FF6A55');
                  $('#error').text('Existing Username');
                }

                else if (result.username != username) {
                  $('#usernamereg').css('background-color', '#9CD9BF');
                  $('#error').html('&nbsp');
                  $('#submit2').prop('disabled', false);
                }
            });
        });
    });
  </script>
</head>
<body>

<!--<form method="post" action="/register">-->

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div>Select an avatar:</div>
    <img id="prof0" class="profpics" src="images/avatar/0.png">
    <img id="prof1" class="profpics" src="images/avatar/1.png">
    <img id="prof2" class="profpics" src="images/avatar/2.png">
    <img id="prof3" class="profpics" src="images/avatar/3.png">
    <img id="prof4" class="profpics" src="images/avatar/4.png">
  </div>

</div> 

<div id="midbox">
    <div id="leftbox">
      <img id="main_logo" src="images/hiku-big.png" style="width: 256px;">
      <div class="body_text" id="text_dict">/hî-koo/</div>
      <div class="body_text" id="text_desc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</div>

      <a href="/" id="back_btn">< Back</a>
    </div>

    <div id="rightbox">

      <div id="avatarbox">
        <img id="profpicreg" src="images/avatar/null.png" width="128" height="128">
      <button id="myBtn">Pick an Avatar</button>
      </div>
      
      <form method="post">
        <div class="logincontainer">
            <div style="font-size: 22px"> Username </div>
            <input class="text_field"type="text" id="usernamereg" name="username" required>
            <div style="font-size: 22px"> Password </div>
            <input class="text_field"type="password" name="password" required>
            <div style="font-size: 22px"> Confirm Password </div>
            <input class="text_field"type="password" style="margin-bottom: 20px">
            <input type="text" id="img_index" name="img_index">
            <button class="bottombutton" id="submit2" type="submit" disabled><p style="margin-top:6px">Register</p></button>
        </div>
      </form>

    </div>
</div>

</body>
</html>
